.reactflow-container {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.panel {
    display: flex;
    border-right: 1px solid #eee;
    background: rgba(31, 41, 100, 1);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: auto;
    height: 90%;
    width: 80px;
}

.panel-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.panel-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.panel-item:not(:first-child) {
    margin-top: 20px;
}

.panel-item-info {
    background-color: rgba(31, 41, 100, 1);
    border: 1px white solid;
    color: white;
    padding: 6px;
    width: 100%;
}

.panel-item-info:hover {
    cursor: grab;
    background-color: white;
    color: rgba(31, 41, 100, 1);
    border: 1px rgba(31, 41, 100, 1) solid;
}
  
.element-node {
    background-color: rgba(200, 200, 200, 1);
    color: white;
    padding: 30px;
}

.window-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 80, 150, 0.6);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.window {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 15px gray;
    border-radius: 10px;
    padding: 25px;
    height: 300px;
    width: 300px;
}

.window-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px rgba(31, 41, 100, 1) solid;
    padding: 15px;
    height: 25px;
    width: 25px;
}