.reactflow-container {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.panel {
    display: flex;
    border-right: 1px solid #eee;
    background: rgba(31, 41, 100, 1);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: auto;
    height: 90%;
    width: 80px;
}

.panel-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.panel-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.panel-item:not(:first-child) {
    margin-top: 20px;
}

.panel-item-info {
    background-color: rgba(31, 41, 100, 1);
    border: 1px white solid;
    color: white;
    padding: 6px;
    width: 100%;
}

.panel-item-info:hover {
    cursor: grab;
    background-color: white;
    color: rgba(31, 41, 100, 1);
    border: 1px rgba(31, 41, 100, 1) solid;
}
  
.element-node {
    background-color: rgba(50, 50, 255, 1);
    color: white;
    padding: 30px;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.dndflow .dndnode.input {
    border-color: #0041d0;
}

.dndflow .dndnode.output {
    border-color: #ff0072;
}

.dndflow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }
}
